@font-face {
  font-family: "aleo";
  src: url(fonts/aleo/aleo-regular-webfont.woff2), format("woff2"),
    url(fonts/aleo/aleo-regular-webfont.woff), format("woff");
  font-size: normal;
  font-style: normal;
}
/* general */
*,
::after,
::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: #eff3f6;
}
h1,
h2,
h3,
h4,
p {
  font-family: "aleo", serif;
}
figure img {
  width: 430px;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
li {
  list-style: none;
}
/* header navBar */
#header {
  padding: 0.6rem 2rem;
  background-color: rgba(0, 0, 0, 0.655);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#header .logo {
  width: 24%;
}
#header .logo img {
  width: 100%;
}
.navBar {
  display: none;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.navBar a {
  color: white;
  font-size: 0.9rem;
}
.navBar a:hover {
  color: rgb(208, 207, 207);
}
/* media queries for header */
@media screen and (min-width: 600px) {
  #header {
    justify-content: space-between;
    padding: 0.7rem 2rem;
  }
  #header .logo {
    width: 20%;
  }
  #header .navBar {
    display: flex;
  }
  #header .navBar a {
    font-size: 1.2rem;
  }
}
/* main */
/* hero section */
#hero {
  padding: 0 2rem;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
#hero .hero-photo {
  background: url(../images/todd-steitle-ExnAdmi-Asc-unsplash.jpg);
  width: 100%;
  min-height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  margin: 1rem 0;
}
#hero .hero-content {
  margin: 1rem 0;
}
#hero .hero-content h1 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #d1b018;
}
#hero .hero-content p {
  margin: 0.8rem 0;
  color: #848385;
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 0 1rem;
}
/* media queries for hero section */
@media screen and (min-width: 600px) {
  #hero {
    flex-direction: row;
    justify-content: space-between;
  }
  #hero .hero-content {
    width: 70%;
    text-align: left;
  }
  #hero .hero-content p {
    margin-top: 2rem;
  }
}
/* sections */
/* owl-def */
.owl-def {
  padding: 0 2rem;
}
.owl-def .para-one {
  margin: 1rem 0;
}
.owl-def .para-one h2 {
  margin: 1rem 0;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #515151;
  letter-spacing: 0.2rem;
  text-align: center;
}
.para-one .content p {
  margin: 1rem 0.5rem;
  color: #848385;
  font-size: 1.3rem;
  text-align: justify;
}
.para-one dl {
  padding: 1rem;
}
.para-one dt {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #515151;
}
.para-one dd {
  margin: 1rem 0rem;
  color: #848385;
  font-size: 1.3rem;
  text-align: justify;
}
/* media queries for owl-def */
@media screen and (min-width: 600px) {
  .owl-def .para-one h2 {
    text-align: left;
    margin: 2rem 0;
  }
  .para-one blockquote > p {
    column-count: 2;
    column-gap: 20px;
    column-width: 200px;
  }
  .para-one .dataList__container {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: minmax(300px, 1fr);
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
/* owl-media section */
.owl-media {
  padding: 2rem;
}
.owl-media header h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #d1b018;
  margin: 1rem 0;
  text-align: center;
}
.owl-media figure {
  padding: 1rem;
}
.owl-media figure img {
  border-radius: 12px;
}
.owl-media figcaption {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #515151;
  text-align: center;
}
.owl-videos iframe {
  width: 430px;
  height: 315px;
  border: 0;
}
/* media qureis for owl-media section */
@media screen and (min-width: 600px) {
  .owl-media header h3 {
    text-align: left;
  }
  .owl-media .owl-videos {
    display: flex;
    flex-direction: row;
  }
  .owl-videos figure iframe {
    width: 350px;
  }
  .owl-imgs {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .owl-videos figure iframe {
    width: 320px;
  }
  .owl-imgs img {
    width: 90%;
  }
}
/* footer */
.footer-line {
  color: #d1b018;
  margin: 0.1rem 0;
  padding: 0.1rem 0;
}
#footer {
  padding: 0.3rem 2rem;
  text-align: center;
}
.footer-head,
.footer-contact {
  padding: 1rem;
}
.footer-head p {
  color: #848385;
  font-size: 1.2rem;
}
.footer-contact form {
  padding: 0.5rem 0 1rem;
}
.footer-contact form label {
  color: #848385;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.footer-contact form input {
  outline: none;
  border: 2px solid #515151;
  padding: 0.78rem 1rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}
.btn-sec {
  outline: none;
  border: 2px solid #515151;
  padding: 0.78rem 0.5rem;
  border-radius: 5px;
  background-color: #d1b018;
  color: #eff3f6;
  text-transform: uppercase;
  margin-left: -0.5rem;
}
.btn-sec:hover {
  color: #848385;
  background-color: #d1af18de;
}
.footer-contact .social-media p {
  color: #848385;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.footer-contact .social-media ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
#footer .footer-rights {
  padding: 1rem;
  color: #000000;
  font-size: 1rem;
  text-transform: uppercase;
}
/* media quires for footer */
@media screen and (min-width: 600px) {
  #footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .footer-head,
  .footer-contact {
    width: 50%;
  }
}
